@tailwind base;
@tailwind components;
@tailwind utilities;

#pictureImg{
  width: 195px;
  height: 195px;
  max-width: 100%; /* Zapewnia, że obraz nie wyjdzie poza szerokość kontenera */
  max-height: 100%; /* Zapewnia, że obraz nie wyjdzie poza wysokość kontenera */
  border-radius: 50%; /* Ustawienie na 50% powoduje, że obraz ma kształt kółka */
  object-fit: cover; /* Zapewnia, że obraz wypełni całe kółko */
}
#profilepic-input{
  display:none;
}
.CV {
  max-height: 800px;
  overflow-y: auto;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.menuIcon {
  transition: transform 0.3s ease;
}

.menuIcon.open {
  transform: rotate(180deg);
}

.menu {
  height: 5rem;
  overflow: hidden;
  transform: translateY(0);
  transition: height 1s ease;
}
.show-menu {
  height: 20rem;
}
.h-big {
  height: 800px;
  max-height: 800px;
}
.max-width-prose {
  max-width: 333px;
  width: 100%;
  overflow-wrap: break-word;
}
.form-icon {
  transition: transform 0.3s ease;
}
.form-icon.open {
  transform: rotate(90deg);
}

.form-col {
  overflow: hidden;
  transition: width 0.5s ease;
}
.left-bar {
  max-width: 210px;
  width: 210px;
}
.right-bar {
  max-width: 357px;
  width: 357px;
}