@tailwind base;
@tailwind components;
@tailwind utilities;
@media print {
  @page {
    size: 170mm 239mm;
  }
}
@layer components {
  .transition-height-1s {
    transition: height 1s ease;
  }
  .transition-width-1s {
    transition: width 1s ease;
  }
  .text-2xs {
    font-size: 0.5rem;
    line-height: 0.75rem;
  }
}
#pictureImg {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
#profilepic-input {
  display: none;
}
.CV {
  overflow-y: auto;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.menuIcon {
  transition: transform 0.3s ease;
}

.menuIcon.open {
  transform: rotate(180deg);
}

.menu {
  @apply overflow-hidden transition-width-1s lg:transition-height-1s;
}
.show-menu {
  @apply w-[25rem] lg:h-[25rem] lg:w-20;
}

.form-icon {
  transition: transform 0.3s ease;
}
.form-icon.open {
  transform: rotate(90deg);
}

.form-col {
  overflow: hidden;
  transition: width 0.5s ease;
}
